* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.custom-nav {
  min-height: 50px;
  font-weight: bold;
}
.custom-nav .header-links {
  flex-wrap: wrap;
  font-size: medium;
  list-style-type: none;
}
.card {
  width: 25%;
  transition: 0.5s;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.card:hover {
  transition: 0.5s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card:nth-child(odd) {
  margin-right: 20px;
}
.card:nth-child(even) {
  margin-right: 20px;
}
